body {
    font-family: "Yeseva One";
    font-weight: 400;
}

.yesava {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.sliderImgContainer {
    width: 700px;
    height: 594px;
    overflow: hidden;
}
.sliderImg {
    width: 700px;
    height: 594px;
    transition: all 1s ease-in-out;
}

.sliderImg:hover {
    transform: scale(1.1);
}
