.App {
  text-align: center;
}

/* .main{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
} */

.main{
  height: 100vh;
}

/* .main > section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */

.call{
  background-color:#9D6156;
  width: 450px;
  transition: all 1s ;
  position: absolute;
  transition-timing-function: ease-in-out;
}

.call:hover{
  background-color: #3A2328;
  width: 500px;
}
.menu{
  position: absolute;
  width: 60px;
  height: 35px;
  transition: all 0.3s;
  z-index: 10;
}
.menu:hover{
  background-color: #6FCF97;
  width: 67px;
  height: 40px;
}
.menuname:hover{
  color: #6FCF97;
  padding-left: 20px;
  transition: all 0.5s;
  
}
.menutran{
  transition: all 1s ;
  z-index: 9;
}

.backimg{
  background-image: url(./img/sectionhome.png) ;
  object-fit: cover;
}
.backGrad{
  background-color: rgb(0, 0, 0, 0.7);
}